.home {
    margin-top: 5em;

    h1 {
        width: 100%;
        color: $color-text-black;
        font-size: $size-text-big;
        font-weight: 400;
    }

    .featured-posts-container {
        display: flex;
    }
}

@media screen and (max-width: $media-larger-desktop) {
    .home {
        h1 {
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
        }

        .featured-posts-container {
            flex-direction: column;
        }
    }
}
