.site-navigation {
    height: 65px;
    width: 100%;
    background:white;
    display: flex;
    justify-content: space-between;
    color: $color-text-black;

    span {
        font-size: $size-text-big;
        font-weight: 400;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    ul {    
        height: 100%;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        display: flex;
        list-style-type: none;
        margin-right: 20px;
        align-items: center; //center nav link titles to center of nav container
    }

    a {
        text-decoration: none; //remove underline of links
        padding: 0 20px 0 20px; //align nav link titles evenly spaced by 20px between
        font-size: $size-text-medium;
        font-weight: 400;
        color: $color-text-black;        

        &:hover{
            color: $color-text-blue;

        }
    }
}
