
// App
$color-primary: #f8f9fa;
$color-white: white;
// Text
$color-text-black: #444;
$color-text-blue: #2997ff;

// Text size
$size-text-very-big: 30px;
$size-text-big: 24px;
$size-text-medium: 20px;
$size-text-small: 14px;


// Spacing
$space-big: 24px;
$space-big: 16px;
$space-big: 8px;

// Media queries  
$media-larger-mobile: 400px;
$media-larger-phablet: 550px;
$media-larger-tablet: 750px;
$media-larger-desktop: 1000px;

// Border radius
$radius: 8px


